<div class="container-fluid" ng-app="pincersInteractive" ng-controller="editorCtrl">
  <div class="col-md-6">
    <div class="editor" ng-model="editorCode" ui-ace="{
      useWrapMode : true,
      showGutter: true,
      theme:'monokai',
      mode: 'ruby',
      onLoad: configEditor
    }"></div>
    <div class="actions clearfix">
      <button ng-click="run()" ng-disabled="session.$pending.length" class="btn btn-primary pull-right">{{ session.$pending.length ? 'Loading...' : 'Run' }}</button>
    </div>
  </div>
  <div class="col-md-6">
    <output class="output" ng-model="output" ui-ace="{
      useWrapMode : true,
      showGutter: true,
      theme:'solarized_light',
      mode: 'html_ruby',
      onLoad: configOutput }"></output>
  </div>
</div>
